$bg-body: rgb(255, 255, 255);


// h1
$h1-font-size: 60px;

// h2
$h2-font-size: 45px;

// h3
$h3-font-size: 30px;

// h4
$h4-font-size: 23px;

// h5
$h5-font-size: 15px;

// h6
$h6-font-size: 10px;


// barra
$bg-color-barra: rgb(255, 255, 255);
// $padding-barra:;


// button-black
$bg-color: rgb(0, 0, 0);
$padding: 12px;
$color: white;
$border: 1px solid white;
$font-size: 12px;
$width: 175px;
$center: margin 0 auto; 



// button-white
$bg-color-white: rgba(255, 255, 255, 0);
$padding-white: 12px;
$border-white: 1px solid rgb(200, 200, 200);
$font-size-white: 12px;
$width-white: 175px;
$center-white: margin 0 auto; 


// button-hybtid
$bg-color-hybrid: rgba(255, 255, 255, 0);
$padding-hybrid: 12px;
$border-hybrid: 1px solid rgb(200, 200, 200);
$font-size-hybrid: 12px;
$width-hybrid: 175px;
$center-hybrid: margin 0 auto; 



